@model ESports.Models.PlayerReg

<option value=""> -- Select Player -- </option>

@if (ViewBag.SList != null)
{
    foreach (var item in ViewBag.SList)
    {
        <option value = "@item.Value"> @item.Text </option>
    }
}